.topbar{
    background-color: #49688e;
     background-color: #000000;
    min-height: 35px;
    min-width: 600px;

}
#page-header{

}

#tabb{
	border-left: none;
	border-bottom: none;

}
#tabb1{
	border-left: none;
	border-bottom: none;
}


#tu_logo{
 margin-left:20px;
 margin-right:auto;
height: auto;
text-align: center;
width: 140px;


}
#select_faculty{
	width: 280px;
}
#select_degree{

	width:280px;
}
#select_sem{
	width: 280px;
}
#button_process{
	width: 180px;
}
.top_table{

	margin: 20px;
}
#smt{

	padding: 10px;
}
td{
	padding:10px;
}
#code{
	text-align: center;
}
#demo1{
	text-align: center;
}
#demo2{
	text-align: center;
}
#demo3{
	text-align: center;
}

#demo4{
	text-align: center;
}
#demo5{
	text-align: center;
}




