.topbar{
    background-color: #49688e;
    min-height: 35px;
    min-width: 600px;

}
#page-header{

}
#tu_logo{
 margin-left:20px;
 margin-right:auto;
height: auto;
text-align: center;
width: 140px;


}
#select_faculty{
	width: 280px;
}
#select_degree{

	width:280px;
}
#select_sem{
	width: 280px;
}
#button_process{
	width: 180px;
}